/target
/crates/app/target
.direnv
.devenv
.envrc.local
result
result-*

# cargo-leptos build output
/crates/app/pkg
node_modules

.certs

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
